*{
    background-color: black;
}
.container {
  border: 1px solid white;
   /*Flexbox - commonly used css*/
   display: flex;
   justify-content: space-evenly;
   height: 100%;
   width: 100%;
   align-items: center;
   /*End*/

}

.left {
  background-color: aqua;
  border: 1px solid black;

}
.main {
    background-color: aqua;
    border: 1px solid black;
}
.right {
    background-color: aqua;
    border: 1px solid black;
}
