.container {
  background-image: url('./../../assets/login-background.jpg');
  /*Flexbox - commonly used css*/
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  /*End*/
}
.text-title {
  display: flex;
  justify-content: center;
  margin: 12px;
}
.view-card {
  border: 5px solid grey;
  border: 12px;
  min-width: 25%;
  min-height: 40%;
  box-shadow: 12px 12px 5px lightblue;
}
.item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
