<mat-toolbar class="main-nav" color="primary">
  <div class="nav-heading">
  <h1>| Angular WEBAPI |</h1>
</div>
  <div class="nav-view">
    <button mat-button routerLink="/">Home-NewsAPI</button>
    <button mat-button routerLink="/localjson">Local-JSON</button>
    <button mat-button routerLink="/mockableio">MockableIO</button>
    <button mat-button routerLink="/about">About</button>
  </div>
</mat-toolbar>
<app-loading></app-loading>
<app-messages></app-messages>
<router-outlet></router-outlet>
