.messages-container {
  color: #a94442;
  background-color: #f2dede;
  border: 2px solid #d43b55;
  font-family: Roboto;

  width: 30%;
  height: 60px;

  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;

  z-index: 2;

  margin-top: 64px;
}

.messages {
  border: 2px solid black;
}

#errormessage {
  width: 95%;
  align-items: center;
  padding: 12px;
}

.close {
  cursor: pointer;
}
#closeicon {
  margin-right: 12px;
  justify-content: end;
}
