.messages-container {
  display: flex;
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 20px;
  font-family: Roboto;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 64px;
  z-index: 9;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
